@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-de-fundo: #00030C;
    --cor-do-botao: #167BF7;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.entrada {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    text-decoration: none;
    color: var(--cor-principal);
    border-radius: 5px;
    padding: 1rem;
    display: block;
}

#botao-1 {
    background-color: var(--cor-do-botao);
}

#botao-2 {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container__aviso {
    color: var(--cor-secundaria);
    font-size: 12px;
}